<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Division:</strong>
  <%= @customer.division %>
</p>

<p>
  <strong>Site:</strong>
  <%= @customer.site %>
</p>

<p>
  <strong>Mailing adress:</strong>
  <%= @customer.mailing_adress %>
</p>

<p>
  <strong>Kms version:</strong>
  <%= @customer.kms_version %>
</p>

<p>
  <strong>Project code:</strong>
  <%= @customer.project_code %>
</p>

<%= link_to 'New', new_customer_path(@customer) %>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
