<p id="notice"><%= notice %></p>

<h1>Module Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @module_types.each do |module_type| %>
      <tr>
        <td><%= module_type.name %></td>
        <td><%= link_to 'Show', module_type %></td>
        <td><%= link_to 'Edit', edit_module_type_path(module_type) %></td>
        <td><%= link_to 'Destroy', module_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Module Type', new_module_type_path %>
